.root {
	-fx-background-image: url("../images/RecetApp.png");
}

.closeTab{
	-fx-background-image: url("../images/closeTabIcon.png");
}

.closeTab:hover{
	-fx-background-image: url("../images/closeTabOverIcon.png");
}